@{
    ViewData["Title"] = "Politica de Confidentialitate";
}
<h1>@ViewData["Title"]</h1>
<p>Ultima actualizare: 21.07.2023</p><p>Bun venit pe site-ul nostru de gestionare a competițiilor de fotbal. Ne luăm angajamentul de a proteja și respecta confidențialitatea datelor dvs. Această politică de confidențialitate stabilește cum colectăm, utilizăm, protejăm și dezvăluim informațiile pe care le furnizați în timp ce utilizați acest site. Vă rugăm să citiți cu atenție politicile noastre pentru a înțelege modul în care prelucrăm datele dvs. personale.</p>
<ol>
    <li>
        Informațiile colectate
        Putem colecta următoarele categorii de date personale:
    </li>
</ol><p>a) Informații furnizate de dvs.: Aceasta include numele, adresa de e-mail, numărul de telefon, numele echipei, informații legate de competițiile de fotbal și orice alte informații pe care le furnizați voluntar în timpul înregistrării sau utilizării site-ului.</p><p>b) Informații tehnice: În timpul navigării pe site, putem colecta informații tehnice precum adresa IP, tipul browser-ului, datele referitoare la sesiunile dvs. și alte date tehnice similare.</p><p>c) Cookie-uri și tehnologii similare: Utilizăm cookie-uri și tehnologii similare pentru a îmbunătăți experiența dvs. pe site și pentru a analiza modul în care acesta este utilizat. Puteți gestiona preferințele dvs. referitoare la cookie-uri în setările browser-ului dvs.</p>
<ol start="2">
    <li>
        Scopul colectării datelor
        Colectăm datele dvs. personale în următoarele scopuri:
    </li>
</ol><p>a) Pentru a vă permite să utilizați și să accesați serviciile noastre de gestionare a competițiilor de fotbal.</p><p>b) Pentru a vă comunica actualizări, informații despre competiții și alte noutăți legate de site.</p><p>c) Pentru a îmbunătăți funcționalitatea și performanța site-ului nostru.</p><p>d) Pentru a răspunde solicitărilor dvs. și a furniza asistență clienților.</p><p>e) Pentru a respecta obligațiile legale aplicabile.</p>
<ol start="3">
    <li>
        <p>
            Protecția datelor
            Ne angajăm să protejăm datele dvs. personale și să le utilizăm numai în scopurile specificate în această politică. Luăm măsuri de securitate tehnice și organizatorice adecvate pentru a proteja datele dvs. împotriva accesului neautorizat, divulgării sau distrugerii accidentale sau ilegale.
        </p>
    </li>

