@{
    ViewData["Title"] = "Register";
}
@model UserCredentialViewModel

<h1>Register</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<form method="post" asp-action="Register">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required />
    </div>
    <div>
        <label for="passwordHash">Password:</label>
        <input type="password" name="passwordHash" required />
    </div>
    <button type="submit">Register</button>
</form>
